.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Button */
.button {
  background-color: rgb(20, 72, 168);
  color: #FFFFFF;
  padding: 10px 30px;
  font-size: 15px;
  font-family: Arial;  
  border-radius: 25px;
  transition: 0.5s;  
  border: none;
  margin: 0 auto;
  display: block;
}

.button:hover {
  transition: 0.3s;
  color: black;
  font-weight: bold;
  background-color: rgb(88, 137, 230);
  padding: 12px 45px;
}

/* The container */
.container{
  width: 100%;
  margin-top: 5vmin;
}

/* The list page */
.task-title{
  margin: 0;
}
.task-list-header{
  text-align: center;
}
.task-list{
  text-align: center;
  background: #f2f2f2;
  text-align: left;
  width: 40%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
}

/* The input  */
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 40px 0;
  box-sizing: border-box;
}